/* for small device  */
@media screen and (max-width:576px) {

    /* shared styles  */
    .title {
        font-size: 2rem;
    }

    /* header styles  */
    header nav,
    header nav ul {
        flex-direction: column;
        gap: 60px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 100px;
    }

    .banner .text h2 {
        font-size: 2rem;
    }

    .banner .text h1 {
        font-size: 4rem;
    }

    .banner .text .buttons {
        width: 100%;

        .bg-aqua {
            margin-left: 0px;
        }

        .btn-secondary {
            padding: 20px 30px;
        }

    }

    /* gamer section  */
    .gamer {
        flex-direction: column;
    }

    .gamer .text {
        text-align: center;
    }

    .gamer .text h2 {
        font-size: 2rem;
    }

    /* online game section  */
    .online-game .container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* download section  */
    .download {
        flex-direction: column;
    }

    .download .text {
        padding: 0;
        padding-bottom: 50px;
    }

    .download .text .heading {
        max-width: 100%;
        text-align: center;
    }

    .download .image .small {
        position: absolute;
        left: 50%;
        bottom: -75px;
        transform: translateX(-50%);

    }

}

/* for medium device  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* header styles  */
    header nav,
    header nav ul {
        flex-direction: column;
        gap: 60px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 100px;
    }

    /* gamer section  */
    .gamer {
        flex-direction: column;
    }

    .gamer .text {
        text-align: center;
    }

    /* online game section  */
    .online-game .container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* download section  */
    .download {
        flex-direction: column;
    }

    .download .text .heading {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }

    .download .image .small {
        position: absolute;
        left: 50%;
        bottom: -75px;
        transform: translateX(-50%);

    }

}