@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

/* shared styles  */
.btn-primary {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 17px 24px;
}

.pink-color {
    color: rgb(255, 66, 165);
}

/* header section  */
header {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .logo h3 {
    font-size: 2.8125rem;
    font-weight: 700;

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

header nav ul a {
    font-size: 1.125rem;
    font-weight: 500;
}

header nav ul .btn {
    display: flex;
    align-items: center;
    gap: 24px;

    img {
        width: 33px;
        height: 24px;
    }
}